@import '../settings'
@import '../mixins/typography'

.BookList {
  max-height: 100vh;
  overflow: hidden;
  position: relative;
}

.BookList-list {
  // XXX react-list can't handle the calc
  max-height: calc(100vh - 40px) !important;
  margin-top: 40px;
}

.BookList-loading {
  margin-top: 40px;
  height: calc(100vh - 40px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.BookList-loadingMsg {
  title();
}
