rupture.scale = 0 320px 640px 768px 1024px 1440px
rupture.mobile-cutoff = 640px
rupture.desktop-cutoff = 1024px
rupture.hd-cutoff = 1440px

rupture.anti-overlap = true

// Colors
$gray-darker = #3b3a36
$gray-dark = #b3c2bf
$gray = #e9ece5

$white = #FFFFFF

$green = #00de9d

$blue = #7eabf5

$orange = #F79E05

$red = #fc2b6a

$unit-xxsmall = 6px
$unit-xsmall = 9px
$unit-small = 12px
$unit-medium = 18px
$unit-large = 24px
$unit-xlarge = 60px
$unit-xxlarge = 72px

// Font stacks
$lato = 'Lato', sans-serif

// Default font settings
$font-stack = $lato
$font-size-base = 17
$font-size = unit($font-size-base, 'px')

$font-color = $gray-darker

// Application defaults
$border-radius = 2px
$border-color = $gray-dark

$container-width = 640px

$field-max-width = 320px
